/__pycache__/
/db.sqlite3
/erserver.log
/all/
/erp/__pycache__/
/erp/migrations/
/erp/templatetags/__pycache__/
/erp/media/
/ers/__pycache__/
/sound/
/panel/migrations/
/quest.db.sqlite3
/panel/__pycache__/
/panel/templatetags/__pycache__/
/server/__pycache__/
